<div class="header-container">
    <a href="/" class="blog-name">Simple Blog</a>
    <div class="search-bar">
        <form action="/" method="GET">
            <input type="text" name="title"  value="<%= searchOptions.title %>">
        </form>
    </div>
</div>