<h1 class="article-title"><%= article.title %> </h3>
    <div class="date-btn-section">
        <div class="article-date"><%= article.createdAt.toLocaleDateString() %></div>
        <a class="btn edit-btn" href="/articles/edit/<%= article.id %>">Edit</a>
    </div>
    <div class="article-body"><%- article.sanitizedHtml %></div>