.article-title {
    font-weight: 500;
    font-size: 1.5rem;
}

.date-btn-section {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-date {
    letter-spacing: .2rem;
    align-self: flex-end;
}

.edit-btn {
    padding: .5rem .8rem;
    border: 1px solid#30e3ca;
    color: #40514e;
}

.article-body > p{
    text-align: justify;
    line-height: 1.3rem;
    word-spacing: .1rem;
}

.article-body > h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
}

